*{
    margin-top:0;
    margin-left: 0;
    margin-bottom: 0;
}
h2{
    font-size:30px;
    color:rgb(61, 0, 0);
}


body{
    background-color:black;
    
}

#TechSkill{
    background-color:rgb(250, 191, 114);
    font-weight:bold;
    color:red;
    
    padding-bottom: 15px;
    

}

#nav{
    z-index:10;
    margin-top:0;   
    text-decoration: none;
    background-color: red;
     position :fixed!important;
     display:block;
     width : 100%;
       border-radius: 9px;
      line-height: 500%;
}
#align{
    margin-left:58%;
    
}
.menu-items{
 
   
   color: blue;
    color:black;
     font-size: 30px;
    padding-left:30;  
    text-decoration:none ;
 }


#picname{
   position: relative;
   padding-top:150px;
   
    padding-bottom:200px;

}
#name{
    margin-left: 30%;
     color:red;
     font-size: 50px;
    
     font-weight: bold;
 
     
}
#pic{
    margin-left:45%;
    margin-top:30px;
    border: 2px;
    border-style: solid;
    border-color:red;
    border-radius:50%;
}
#Likes{
     font-weight: bold;
    color:red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:#FFD580 ;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 15px;
  
    

}
.topic{
    background-color:rgb(236, 128, 26);
}
#movie{
    background-color:rgb(250, 191, 114) ;
     
      font-weight:bold;
      color:red;
    margin-bottom: 0%;
    padding-bottom: 15px;
   
    
}
#songs{
    padding-top: 0;
    margin-top:0;
    background-color:#FFD580 ;
    font-weight:bold;
   color:red;
   padding-bottom: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}